
*.filters

C_code/1_week/1_week\.sln

C_code/1_week/1_week\.vcxproj

C_code/1_week/1_week\.vcxproj\.user

C_code/1_week/\.vs/

C_code/1_week/Debug/

C_code/1_week/Project1/\.vs/Project1/v15/

C_code/1_week/Project1/Debug/

*.sln

*.vcxproj

*.user

*.obj

*.ipch

C_code/1_weeks/\.vs/

C_code/1_weeks/Debug/

C_code/2_week/\.vs/

C_code/2_week/Debug/

C_code/3_week/\.vs/

C_code/3_week/Debug/

C_code/4_weeks/\.vs/

C_code/4_weeks/Debug/

*.lnk

C_code/pBank/\.vs/

C_code/pBank/Debug/

C_code/2_week/Project1/\.vs/Project1/v15/

*.exe

*.ilk

*.log

*.pdb

*.tlog

*.idb

C_code/3_week/Project1/\.vs/Project1/v15/
